[submodule "drivers/net/can/usb-can-2-module"]
	path = drivers/net/can/usb-can-2-module
	url = https://github.com/V0lk3n/usb-can-2-module
[submodule "drivers/net/can/can-isotp"]
	path = drivers/net/can/can-isotp
	url = https://github.com/V0lk3n/can-isotp
[submodule "drivers/net/can/elmcan"]
	path = drivers/net/can/elmcan
	url = https://github.com/V0lk3n/elmcan
