#
# Samsung Tabs7xl Projects
#
config MACH_GTS7XL_EUR_OPEN
	default n
	bool "Samsung GTS7XL EUR OPEN"
	help
	  Support for Samsung GTS7XL EUR OPEN device.

config MACH_GTS7XLWIFI_EUR_OPEN
	default n
	bool "Samsung GTS7XLWIFI EUR OPEN"
	help
	  Support for Samsung GTS7XLWIFI EUR OPEN device.

config MACH_GTS7XL_KOR_OPEN
	default n
	bool "Samsung GTS7XL KOR OPEN"
	help
	  Support for Samsung GTS7XL KOR OPEN device.

config MACH_GTS7XL_USA_SINGLE
	default n
	bool "Samsung GTS7XL USA SINGLE"
	help
	  Support for Samsung GTS7XL USA SINGLE device.
