/* Copyright (c) 2019, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "kona-sec-z3q-r09.dtsi"
#include "kona-sec-z3q-pinctrl-r12.dtsi"

#include "../drivers/kona-sec-z3q-display-r01.dtsi"
#include "../drivers/kona-sec-z3q-mst-r12.dtsi"
#include "../drivers/battery-rx-data-z3q-lsi.dtsi"

&soc {
	i2c@22 {
		mfc-hal-charger@7f {
			compatible = "sec,mfc-hal-charger";
			reg = <0x7f>;
			status = "okay";

			battery,wpc_det = <&pm8150l_gpios 1 GPIO_ACTIVE_HIGH>; /* WPC_DET */
			battery,charger_name = "max77705-charger";
		};

		mfc-s2miw04-charger@3b {
			reg = <0x6f>;
		};
	};
};
