# @file Kconfig
# @brief Kconfig for HDM driver
# Copyright (c) 2019, Samsung Electronics Corporation. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 and
# only version 2 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

config HDM
	bool "HDM feature enable"
	default n
	help
	This enables hdm driver

config HDM_DEBUG
	bool "For debug only"
	default n
	help
	This enables hdm debug code
